* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #f7f5eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #eac7c7;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: #d5e3e8;
  border-width: 20px;
}

.calculator form div {
  display: flex;
}
.calculator form input {
  border-color: #d5e3e8;
  outline: 0;
  flex: 1;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow:
    -8px -8px 15px rgba(225, 225, 225, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #3a3a3a;
  cursor: pointer;
  margin: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal {
  width: 145px;
}
